<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.efvs.suppletrack">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuppleTrack">

        <service
            android:name=".ui.widget.IntakeWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false"/>

        <receiver
            android:name=".ui.widget.IntakeWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <!-- Push Notification Receiver für Reminder -->
        <receiver android:name=".MissedDoseReceiver" android:exported="false"/>
        <receiver android:name=".DoseTakenReceiver" android:exported="false"/>

    </application>

</manifest>
